# ASSIGNMENT - 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

ANS : values -  "hello", -87.8 , 6 
    : exprssions - * , - , / , +

2. What is the difference between string and variable?

ans: variable is anything that stores data in it. 
     ex : variables like num1 = 123 , str2 = "hello".
     but string is a data type in programming that includes characters   which are indouble or single quoted . it is the type of data  that  computer stores in a variable.

3. Describe three different data types.

ans : 3 different types of data :
      1) integer/float - this data type contains numbers like   12,432,34.345
      2)  string - this data type holds characters which are enclosed in double or single quotes like "hello world" , "adress123".
      3) boolean  - this data type holds only 2 specific data i.e TRUE or FALSE. it is used to store the answer in condition statements that has 0 or 1 s answer.

4 What is an expression made up of? What do all expressions do?

ans : expression is made up of values, operators like +,-, and a variable to store the final output. 
all expressions are used to derive the final value of mathematical problem.
ex : x = 12 + 24

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ans : a statement is used to assign a variable some value or to display an output.
ex: xyz = 123 , print(1234)
but an expression is a combination of operators and values that performs some task and gives the desired output.
x = 24 - 35

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [3]:
bacon

22

in the above code the bacon will be having the value as 22 only.

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

in the above code both terms results in the same output. here it is nothing but string concatenation

8. Why is eggs a valid variable name while 100 is invalid?

ans -  as per the rules a variable name has to start with a character. it should not start with a digit or any special characters. also here 100 will be understood as a value not as a variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

ans - we can use int(),float() , str() functions

In [7]:
#examples
var1 = 1234

In [8]:
float(var1)

1234.0

In [9]:
str(var1)

'1234'

In [10]:
str1 = "1133545"

In [11]:
int(str1)

1133545

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In [12]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [13]:
# the above expresson wont work because string cant be concatenated with a integer
# only same data types can be concatinated
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'